@font-face { 
    font-family: "Frutiger"; 
    src: url("../font/Frutiger-Light.ttf"); 
}
html{
    font-family: Frutiger;
    margin: 0;
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    height: 100%;
    width: 100%;
}
main{
    margin: 0;
    width: 100%;
    height: 100%;
}
header{
    position: relative;
    top: 0;
    height: 50px;
    background-color: #FFCC00;;
}
h2{
    font-weight: 900;
    font-size: 18pt;
    margin: 15px calc(100% - 80% - 20px) 15px 20px;
    word-wrap:break-word;
}
#navigation_button {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 0px;
    margin: 15% auto;
    -webkit-transition: all .3s ease, -webkit-transform .2s ease;
            transition: all .3s ease, transform .2s ease;
    background: linear-gradient(to bottom, transparent 0%, transparent 23%, #584125 23%, #584125 29%, transparent 29%, transparent 52%, #584125 52%, #584125 58%, transparent 58%, transparent 81%, #584125 81%, #584125 87%, transparent 87%);
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    #navigation_button {
        background: linear-gradient(to bottom, transparent 0%, transparent 23%, #584125 23%, #584125 29%, transparent 29%, transparent 52%, #584125 52%, #584125 61%, transparent 61%, transparent 84%, #584125 84%, #584125 90%, transparent 90%);
    }
}
@-moz-document url-prefix() {
    #navigation_button {
        background: linear-gradient(to bottom, transparent 0%, transparent 23%, #584125 23%, #584125 29%, transparent 29%, transparent 52%, #584125 52%, #584125 58%, transparent 58%, transparent 81%, #584125 81%, #584125 87%, transparent 87%);
    }
}
  #navigation_button.clicked {
    background: -webkit-linear-gradient(135deg, transparent 0%, transparent 46%, #584125 46%, #584125 52%, transparent 52%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, #584125 46%, #584125 52%, transparent 52%, transparent 100%);
    background: linear-gradient(-45deg, transparent 0%, transparent 46%, #584125 46%, #584125 52%, transparent 52%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 46%, #584125 46%, #584125 52%, transparent 52%, transparent 100%);
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

.div_nav_open{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: #FFCC00;
}

.div_navigation_overlay {  
    position: absolute;
    height: 100%;
    width: 0;
    z-index: 1000;
    top: 48px;
    background-color: #FFCC00; 
    transition: 0.23s;
}

.div_navigation_overlay_content {
    overflow-y: hidden; 
    margin-top: 20px; 
    width: 100%;
    text-align: center;
}

.div_navigation_overlay a {
    padding: 10px 10px 10px 10px;
    font-weight: 500;
    text-decoration: none;
    font-size: 18pt;
    color: black;
    display: block;
    transition: 0.3s;
}

.div_navigation_overlay .closebtn {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 70pt;
}

.a_header_special{
    background-color: #ebe4d1;
}

.img_header_login{
    margin: 8px 0 0 10px;
    height: 35px;
}
#div_header_login{
    height: 50px;
    width: 50px;
    background-color: #584125;
}
#div_header_login:hover{
    background-color: #FFCC00;
}
#span_nav_login_open{
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    font-size: 35px;
    color: #bcb1a3;
    padding-left: 15px;
    cursor: pointer;
}
#span_nav_login_open:hover{
    color: #584125;
    background-color: #FFCC00;
}
#div_header_logout{
    height: 50px;
    width: 50px;
    background-color: #FFCC00;
}
#div_header_logout:hover{
    background-color: white;
}
#span_nav_logout_open{
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    font-size: 35px;
    color: #584125;
    background-color: #FFCC00;
    padding-left: 15px;
    cursor: pointer;
}
#span_nav_logout_open:hover{
    background-color: white;
}
.div_header_two{
    height: 50px;
    background-color: #FFCC00;
}
.div_margin-left{
    margin-left: 20px;
}
.img_header_two{
    position: absolute;
    top: 0;
    left: 50px; 
    height: 50px;
}
#p_header_login{
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 190px;
    display: hidden;
}

.p_untertitel{
    margin: 10px calc(100% - 80% - 20px) 10px 20px;;
    font-weight: 400;
}
.p_form{
    margin: 15px 0 0 20px;
    font-size: 10pt;
    font-weight: 900;
    color: #584125;
    text-align: left;
}
.forms_login{
    height: 30px;
    width: 80%;
    margin: 0 0 10px 20px;
    font-size: 12pt;
    background: #f5f1e8;
    border: 2px solid #806f60;
}
.separation_line{
    height: 4px;
    margin: 10px 0 10px 20px;
    width: 83%;
    background-color: #f5f1e8;
}
.a_section{
    text-decoration: none;
    height: 300px;
    width: 100%;
}
.section{
    position: relative;
    height: 300px;
    width: calc(100% - 4px);
    left: 0;
    background-color: #bcb1a3;
    text-align: center;
    border: 2px solid #584125;
    background-size: cover;
}
.sectionWanderung{
    background-image: url('../image/wanderung.jpg') !important;
    background-size: cover;
    background-position: center center;
}
.sectionSport{
    background-image: url('../image/sport.jpg') !important;
    background-size: cover;
}
.sectionWochenplan{
    background-image: url('../image/wochenplan.jpg');
    background-size: cover;
}
.sectionSteckbrief{
    background-image: url('../image/steckbrief.jpg');
    background-size: cover;
}
.sectionFeedback{
    background-image: url('../image/feedback.png');
    background-size: cover;
}
.sectionNotfall{
    background-image: url('../image/notfall.jpg');
    background-size: cover;
}
.p_section{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 5%;
    font-size: 18pt;
    color: #584125;
    min-width: 160px;
    margin: 0;
    padding: 10px 0;
    background-color: #FFCC00;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    width: 85%;
    margin: 20px;
    font-size: 12pt;
    color: #584125;
}
td, th {
    border: 2px solid #ebe4d1;
    text-align: left;
    font-weight: 500;
    padding: 10px;
}

tr:nth-child(even){
    background-color: #bcb1a3;
}
.forms_textarea{
    height: 100px;
    width: 80%;
    margin: 0 0 10px 20px;
    font-size: 12pt;
    background: #f5f1e8;
    border: 2px solid #806f60;
    resize: none;
    font-family: Frutiger;
}
.forms_file{
    margin-left: 20px;
    height: 30px;
    width: 80%;
    font-size: 9pt;
    border-radius: 3px;
    border: 2px solid #806f60;
}
.button_weiter{
    float: right;
    margin: 20px calc(100% - 80% - 20px) 0 0;
    height: 30px;
    width: 90px;
    font-size: 9pt;
    border-radius: 5px;
    background-color: #584125;
    color: #ebe4d1; 
    border: 1px solid #584125;
}
.button_weiter:hover{
    background-color: #FFCC00;
    color: #584125; 
}
.button_zurück{
    margin: 20px;
    height: 30px;
    width: 90px;
    font-size: 9pt;
    border-radius: 5px;
    background-color: #ebe4d1;
    color: #584125; 
    border: 1px solid #584125;
}
.button_zurück:hover{
    background-color: #584125;
    color: #ebe4d1;
}
.button_steckbrief{
    height: 130px;
    border-bottom: 1px solid #ebe4d1;
    border-top: 1px solid #ebe4d1;
    border-right: none;
    background-color: white;
    border-radius: 0;
    padding: 0;
    margin-bottom: -1px;
    float: left;
    cursor: pointer;
    width: 100%;
}
.button_steckbrief:hover, .button_wochenplan_steckbrief:hover{
    background-color: #ebe4d1;
}

.button_wochenplan_steckbrief{
    height: 65px;
    border-bottom: 1px solid #ebe4d1;
    border-top: 1px solid #ebe4d1;
    border-right: none;
    background-color: white;
    border-radius: 0;
    padding: 0;
    margin-bottom: -1px;
    float: left;
    cursor: pointer;
    width: 100%;
}
.div_steckbrief_left{
    width: 140px;
    text-align: center;
    float: left;
}
.div_steckbrief_right{
    height: 130px;
    margin-left: 140px;
    overflow: auto;
}
.p_steckbrief_name{
    font-size: 16pt;
    margin: 35px 0 5px 20px;
    text-align: left;
}
.p_steckbrief_gruppe{
    font-size: 12pt;
    margin: 0 0 0 20px;
    text-align: left;
}
.img_steckbrief{
    height: 120px;
    width: 120px;
    margin-top: 5px;
    border-radius: 50%;
    line-height: 130px;
    text-align: center;
}
.img_steckbrief_details{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 5px 0 0 20px;
    line-height: 75px;
}
.div_steckbrief_details_blocker{
    height: 75px;
}
.div_wochenplan_view_teilnehmer{
    margin: 5px 0 0 20px;
    height: 55px;
    width: 100%;
}
.img_wochenplan_view{
    height: 50px;
    width: 50px;
    line-height: 45px;
    border-radius: 50%;
    position: absolute;
    left: 25px;
}
.p_wochenplan_view{
    position: absolute;
    font-size: 15pt;
    left: 85px;
    margin: 10px 0 0 0;
    font-weight: 400;
    overflow: hidden;
    word-wrap: nowrap;
}
.forms_file_details{
    position: absolute;
    width: calc(80% - 80px);
    height: 30px;
    font-size: 8pt;
    border-radius: 3px;
    border: 2px solid #806f60;
    margin: 22px 0 0 5px;
}
.button_hinzufügen{
    margin: 0 calc(100% - 210px) 20px 20px;
    height: 30px;
    width: 150px;
    font-size: 9pt;
    border-radius: 5px;
    background-color: #ebe4d1;
    color: #584125; 
    border: 1px solid #584125;
}
.button_hinzufügen:hover{
    background-color: #584125;
    color: #ebe4d1;
}
.p_kategorien{
    width: 100px;
    float: left;
    margin: 5px 0 20px 20px;;
    font-weight: 400;
}
.p_details{
    font-size: 15pt;
    margin: 0 calc(100% - 80% - 20px) -20px 20px;
    font-weight: 400;
    word-wrap:break-word;
}
.img_steckbrief_details_dontknow{
    position: absolute;
    left: 50%;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 5px 0 0 -90px;
    line-height: 180px;
    text-align: center;
    font-size: 15pt;
}
.space_blocker{
    padding-top: 200px;
}
.button_löschen{
    margin: 0 calc(100% - 80% - 30px) 0 0;
    height: 35px;
    width: 30%;
    font-size: 9pt;
    border-radius: 5px;
    background-color: #ebe4d1;
    color: #584125; 
    border: 1px solid #584125;
    float: right;
}
.button_löschen:hover{
    background-color: red;
    color: #584125; 
}
.forms_login_löschen{
    height: 30px;
    width: 50%;
    margin: 0 0 10px 20px;
    font-size: 12pt;
    background: #f5f1e8;
    border: 2px solid #806f60;
}
.forms_textarea_löschen{
    height: 100px;
    width: 50%;
    margin: 0 0 10px 20px;
    font-size: 12pt;
    background: #f5f1e8;
    border: 2px solid #806f60;
    resize: none;
    font-family: Frutiger;
}

.steckbrief_dropdown{
    width: 50%;
    margin: 0 10px 10px 20px;
    font-size: 14pt;
    background: #f5f1e8;
    border: 2px solid #806f60;
    font-weight: 400;
}
#p_steckbrief_filter{
    margin: 5px 0 0 20px;
    font-size: 12pt;
}
#button_filter{
    float: right;
    margin: 0 calc(45% - 110px) 0 0;
    height: 30px;
    width: 90px;
    font-size: 9pt;
    border-radius: 5px;
    background-color: #584125;
    color: #ebe4d1; 
    border: 1px solid #584125;
}
#button_filter:hover{
    background-color: #FFCC00;
    color: #584125; 
}
#no_characteristics{
    width: 100%;
    height: 150px;
    text-align: center;
    overflow: auto;
}
#p_no_characteristics{
    margin-top: 60px;
    font-weight: 900;
    font-size: 16pt;
    opacity: 0.6;
}
.div_wochenplan_day{
    width: 100%;
    border-bottom: 2px solid #bcb1a3;
    min-height: 70px;
}
.div_wochenplan_day_left{
    float: left;
    width: calc(25% - 7.5px);
}
.p_wochenplan_day_title{
    font-weight: 900;
    font-size: 18pt;
    letter-spacing: 4px;
    margin: 10px 0 0 20px;
}
.p_wochenplan_day_undertitle{
    margin: 0 0 0 20px;
}
.div_wochenplan_day_right{
    margin-left: calc(25% - 7.5px);
    width: calc(75% + 7.5px);
    overflow: auto;
    position: relative;
}
.button_wochenplan{
    width: calc(100% - 30px);
    margin: 10px 0 10px 10px;
    background-color: #806f60;
    color: white;
    border: 0.5px solid black;
    text-align: left;
    cursor: pointer;
    border-radius: 1.5px;
    z-index: 1;
    overflow: hidden;
    position: absolute;
}
.button_wochenplan:hover{
    opacity: 0.7;
}
.p_wochenplan_aktivitaet_title{
    margin: 0;
    font-size: 15pt;
    z-index: 150;
}
.p_wochenplan_aktivitaet_time{
    font-size: 10pt;
    margin: 0;
    z-index: 150;
}
.nowline{
    height: 1px;
    width: calc(100% - 7.5px);
    background-color: black;
    position: absolute;
    z-index: 100;
    opacity: 0.6;
}
.nowpoint{
    height: 15px;
    width: 15px;
    background-color: #584125;
    border-radius: 50%;
    position: absolute;
    margin-top: -7px;
    z-index: 100;
}
.button_navigation{
    width: 100%;
    padding: 10px;
    background: #ebe4d1;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
.button_home{
    position: relative;
    padding: 0;
    margin: -2px 0 0 0;
    cursor: pointer;
    overflow: hidden;
    height: 300px;
    width: 100%;
    left: 0;
    text-align: center;
    border: 2px solid #FFCC00;
    background-image: url('../image/aktivität_default.jpg');
    background-size: cover;

}
.div_navigation_overlay_content a:hover{
    background-color: #ebe4d1;
}
.section a{
    font-weight: 400;
}
.form_home{
    padding: 0;
}
.div_einschreiben{
    height: 130px;
    margin-left: 20px;
    overflow: auto;
}
#no_participants{
    width: 100%;
    height: 70px;
    text-align: center;
    overflow: auto;
}
#p_no_participants{
    margin-top: 15px;
    font-weight: 900;
    font-size: 16pt;
    opacity: 0.6;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal_einschreiben_content {
    background-color: #fefefe;
    margin: 30% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal_einschreiben_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal_einschreiben_close:hover, .modal_einschreiben_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.button_zurück_modal{
    float: left;
    margin-right: calc(90% - 180px);
    height: 30px;
    width: 90px;
    font-size: 9pt;
    border-radius: 5px;
    background-color: #ebe4d1;
    color: #584125; 
    border: 1px solid #584125;
}
.button_zurück_modal:hover, .button_zurück_einschreiben:hover{
    background-color: #584125;
    color: #ebe4d1;
}
.button_zurück_einschreiben{
    float: left;
    margin: 10px calc(90% - 200px) 0 20px;
    height: 30px;
    width: 90px;
    font-size: 9pt;
    border-radius: 5px;
    background-color: #ebe4d1;
    color: #584125; 
    border: 1px solid #584125;
}
.button_weiter_modal{
    margin-top: 10px;
    height: 30px;
    width: 90px;
    font-size: 9pt;
    border-radius: 5px;
    background-color: #584125;
    color: #ebe4d1; 
    border: 1px solid #584125;
}
.button_weiter_modal:hover{
    background-color: #FFCC00;
    color: #584125; 
}
#p_einschreiben_voll{
    margin: 5px 0 30px 0;
    font-weight: 800;
    color: #584125;
}
.div_progress { 
	height: 30px;
	position: relative;
	background: rgba(128,111,96);
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 5px;
    box-shadow: inset 0 -1px 1px rgba(128,111,96,0.3);
    margin: 20px 20px 0 20px;
}

.div_progress > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #FFCC00;
    background-image: linear-gradient(
      center bottom,
      rgb(255,204,0) 37%,
      rgb(255,204,0) 69%
    );
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

.div_progress > span:after {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
      -45deg, 
      rgba(255, 255, 255, .2) 25%, 
      transparent 25%, 
      transparent 50%, 
      rgba(255, 255, 255, .2) 50%, 
      rgba(255, 255, 255, .2) 75%, 
      transparent 75%, 
      transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.p_progress{
    font-size: 12pt;
    padding: 0;
    margin: 5px 0 0 0;
}
.forms_radio{
    margin-left: 20px;
    float: left;
}
input[type='radio'] { 
    transform: scale(1.2);
}
.p_error{
    margin: 10px calc(100% - 80% - 20px) 10px 20px;
    word-wrap:break-word;
    color: #a51728;
    font-weight: 800;
}
.p_section_default{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 5%;
    font-size: 18pt;
    color: #584125;
    font-weight: 600;
    min-width: 160px;
    margin: 0;
    padding: 10px 0;
    background-color: #FFCC00;
}
.p_feedback_radio{
    width: calc(90% - 50px);
    word-wrap: break-word;
    margin: 0 0 0 40px;
}
.slideshow{
    display: none;
}
.img_slideshow {
    vertical-align: middle;
    max-height: 600px;
    max-width: 900px;
}
.slideshow_container {
  position: relative;
  margin: auto;
}
.transition {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


